---
layout: default
---

<div class="home">
  {{ content }}
  
  <h2>Latest Posts</h2>
  
  <ul class="post-list">
    {% for post in site.posts limit:3 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h3>
        {% if post.description %}
          <p>{{ post.description }}</p>
        {% else %}
          <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  
  <p class="view-all-posts">
    <a href="{{ "/blog" | relative_url }}">View all posts &raquo;</a>
  </p>
</div> 